body {
    margin: 0;
    background: #e8eef5;
    font-family: Arial, sans-serif;
    color: #333;
}

.navbar {
    background: #005bbb;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

main {
    width: 92%;
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
}

.card {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

select, input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 14px;
}

button {
    background: #005bbb;
    border: none;
    padding: 12px;
    margin-top: 15px;
    width: 100%;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}

    button:hover {
        background: #004999;
    }

.resultado, .mensaje {
    background: #dbe8ff;
    padding: 15px;
    border-left: 5px solid #005bbb;
    margin-top: 12px;
    border-radius: 5px;
}

.oculto {
    display: none;
}

.mapa-interactivo iframe {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


.nota {
    font-size: 12px;
    color: #555;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

    .tabla th, .tabla td {
        border: 1px solid #bbb;
        padding: 8px;
        text-align: center;
    }

    .tabla th {
        background: #005bbb;
        color: white;
    }
